* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Playfair Display', sans-serif;
}
body {
    background-color:azure;
   

}

/* HEADER */
.header {
    text-align: center;
    /* background-color:azure; */
    width: 100%;
    padding: 30px 20px;
}

.header__title {
    font-weight: 700;
    text-decoration: underline;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.header__theme {
    font-weight: 400;
    /* margin-bottom: 20px; */
}


/* MAIN */
.js-chart {
    padding: 10px 50px 10px 50px;
    margin-bottom: 30px;
    max-height: 600px;
}


/* FOOTER */

hr {
border-color: rgba(180, 180, 180, 0.5);
border-width: 1px;
}

.footer-container {
   
}

.footer-container__text {
    padding: 20px 50px;
    text-align: center;
    color: rgb(180, 180, 180);
    font-size: small;
    font-family: Arial, sans-serif;
}